@import url('https://fonts.googleapis.com/css?family=Pangolin|Architects+Daughter');

body {
  font-family: 'Pangolin', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.LSNavBar {
  font-family: 'Architects Daughter', cursive;
  background-color: #003b6f;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.clockText {
  font-size: 5em;
  font-weight: bold;
}

img {
  width: 100px;
  height: 180px;
}

/* ImageBlock.js */

.imageBlock {
  margin: 20px;
}


.image300 {
  width: 500px;
  height: 300px;
}

.image100 {
  width: 100px;
  height: 100px;
}